.main-container {
display: flex;
}

// list content

#list {
 flex: 0 0 200px;
  height: 100%;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  background-color: #fafafa;

  h4 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }

  a {
    font-size: 15px;
    color: black;
    margin-left: 25px;
    &:hover {
      color: lightgrey;
      text-decoration: none;
    }
   }
   #myCatButton {
  font-size: 13px;
  font-weight: bold;
  margin-left: 20px;
  background-color: #fafafa;
  border: 0;
  &:hover {
    color: lightgrey;
      text-decoration: none;
  }
 }
 #myButton{
  font-size: 13px;
  font-weight: bold;
  margin-left: 20px;
  background-color: #fafafa;
  border: 0;
  &:hover {
    color: lightgrey;
      text-decoration: none;
  }
 }

  #myPriceButton {
  font-size: 20px;
  font-weight: bold;
  margin-left: 0px;
  background-color: #fafafa;
  border: 0;
  word-spacing: 100px;
 }

 #myOrderButton {
  font-size: 20px;
  font-weight: bold;
  margin-left: 0px;
  background-color: #fafafa;
  border: 0;
  word-spacing: 80px;
 }

 #myMarcaButton{
  font-size: 20px;
  font-weight: bold;
  margin-left: 0px;
  background-color: #fafafa;
  border: 0;
  word-spacing: 92px;
 }
}

// Cards Content

.thumbnail-tool {
  position: relative;
  background-size: cover !important;
  // background-position: center;
  border-radius: 6px 6px 0 0;

  height: 200px;
  padding: 0px;
}

.caption-tool {
  margin-left: 5px;
  border-bottom: 1px solid;
  border-color: grey;



  a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      color: lightgrey;
    }
  }
}

.tool-card {
  background-size: cover !important;

  margin-bottom: 50px;
  border: 1px solid ;
  border-color: #F4F4F4;



&:hover {
  border: 1px solid;
  border-radius: 6px;
}

}


.caption-b {
margin-left: 5px;
margin-top: 10px;
h5 {
    font-size: 14px;
    font-weight: bold;
  }

p {
  font-size: 14px;
  color: #469AE0;
  margin-bottom: 30px;
}
}
