
.form-container {
 width: 50%;
 height: 90vh;
 margin: 50px auto;
 background-color: white;
 text-align: center;
 padding: 10px;
 .btn {
  color: white;
  background-color: #469AE0;
  width: 50%;
 }
}


