

#reviews {
  text-align: left;
  font-size: 16px;
  background-color: white;
  p {
    border-bottom: 2px solid;
    padding-bottom: 6px;
 }
 h6 {
  border: 2px solid;
  padding: 2px;
 }
}

.content {


.btn {
  padding-right: 85px;
  padding-left: 85px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
}

.form-review {
 width: 400px;
 text-decoration: none;

}
