
#reviews {
  text-align: left;
  font-weight: bold;
  .btn {
    background-color: blue;
  }
}

.content {
background-color: white;
.btn {
  padding-right: 85px;
  padding-left: 85px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
}


